/*
 * Copyright (C) 2019-2023 Intel Corporation <www.intel.com> 
 */
#include "socfpga_agilex5.dtsi"

/ {
	model = "SoCFPGA Agilex5 Sulfur - U-Boot DTB";

	aliases {
		serial0 = &uart0;
		ethernet2 = &gmac2;
	};

	leds {
		compatible = "gpio-leds";
		
		hps1 {
			label = "hps_heart_beat_led";
			gpios = <&porta 12 GPIO_ACTIVE_HIGH>;
		};
	};

	memory {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0 0 0 0>;
	};

	reserved-memory {
		free_reserved: freearea@8e0000000 {
			reg = <0x08 0xe0000000 0x00 0x20000000>;	/* 512MB */
			alignment = <0x1000>;
			no-map;
		};
	};

	soc {
		clocks {
			osc1 {
				clock-frequency = <100000000>;
			};
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	status = "okay";
	
	eeprom@52 {
		compatible = "atmel,24c64";
		reg = <0x52>;
		pagesize = <0x20>;
	};
	
	rtc@68 {
		compatible = "dallas,ds1339";
		reg = <0x68>;
	};
};

&i3c0 {
	status = "disabled";
};

&i3c1 {
	status = "disabled";
};

&mmc {
	status = "okay";
};

&combophy0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usbphy0 {
	status = "okay";
};

&usb0 {
	status = "disabled";
	disable-over-current;
};

&usb31 {
	status = "okay";
};

&watchdog0 {
	status = "disabled";
};

&watchdog1 {
	status = "disabled";
};

&watchdog2 {
	status = "disabled";
};

&watchdog3 {
	status = "disabled";
};

&watchdog4 {
	status = "disabled";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};

&nand {
	status = "disabled";

	flash1: flash@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "u-boot";
			reg = <0 0x200000>;
		};
		partition@200000 {
			label = "root";
			reg = <0x200000 0x3fe00000>;
		};
	};
};

&qspi {
	flash0: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mt25qu02g";
		reg = <0>;
		spi-max-frequency = <100000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			qspi_boot: partition@0 {
				label = "u-boot";
				reg = <0x0 0x04200000>;
			};

			root: partition@4200000 {
				label = "root";
				reg = <0x04200000 0x0BE00000>;
			};
		};
	};
};

&gmac2 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&emac2_phy0>;

	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwxgmac-mdio";
		emac2_phy0: ethernet-phy@0 {
			reg = <0>;
		};
	};
};
